#navbarTogglerDemo03 {
  display: flex !important;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
#form-inline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}
#form-inline input {
  width: 70%;
}

article {
  width: 60%;
  margin: 5vh auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

table {
  margin: 5vh auto;
}

.NuevaCategoria {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.NuevaCategoria i {
  font-size: 20px;
  margin-left: 5px;
}

.dots-icon {
}
.dots-icon .dots-btn i {
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  display: flex;
}
.dots-btn {
}

.btn-plus {
  border-radius: 25px;
  background-color: rgb(0, 119, 247);
  color: #fff;
  padding: 25px;
  align-items: center;
  margin: 10px;
  font-size: 18px;
}

.btn-plus i {
  margin: 0 5px;
}
